@model List<Clientes>
             <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">            
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item">
                            <a class="btn btn-primary" asp-controller="Clientes" asp-action="CrearCliente">Crear Cliente</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <h2 class="text-center">LISTADO DE CLIENTES</h2>
    <section>
        <article>
            <table class="table table-bordered bordered-info">
                <thead class="text-center">
                    <th>nombre</th>
                    <th>email</th>
                    <th>telefono</th>
                    <th colspan="3">Acciones</th>
                </thead>
                @{
                    foreach(var item in Model) // envia @item.IdProducto el id a su controlador 
                    {
                        <tr>
                            <td class="text-center">@item.Nombre</td>
                            <td class="text-center">@item.Email</td>
                            <td class="text-center">@item.Telefono</td>
                            <td class="text-center"><a asp-controller="Clientes" asp-action="ModificarClienteForm" asp-route-id="@item.ClienteId" class="btn btn-secondary">Modificar</a></td>
                            <td><a asp-controller="Clientes" asp-action="EliminarCliente" asp-route-id="@item.ClienteId" class="btn btn-danger">Eliminar</a></td>
                        </tr>
                    }
                }
            </table>
        </article>
    </section>